#Xcode
#
# contribuidores do gitignore: lembre-se de atualizar Global/Xcode.gitignore, Objective-C.gitignore e Swift.gitignore

## Configurações do Usuário
xcuserdata/

## compatibilidade com o Xcode 8 e versões anteriores (ignorando não é necessário iniciar o Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibilidade com Xcode 3 e versões anteriores (ignorando não é necessário iniciar o Xcode 4)
construir/
Dados Derivados/
*.movido de lado
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivav3
!default.perspectivev3

## Obj-C/Swift específico
*.hmap

## Empacotamento de aplicativos
*.ipa
*.dSYM.zip
*.dSYM

## Parques infantis
linha do tempo.xctimeline
playground.xcworkspace

# Gerenciador de pacotes Swift
#
# Adicione esta linha se quiser evitar o check-in do código-fonte das dependências do Swift Package Manager.
# Pacotes/
# Pacote.pins
# Pacote.resolvido
# *.xcodeproj
#
# O Xcode gera automaticamente este diretório com um arquivo .xcworkspacedata e xcuserdata
# portanto, não é necessário, a menos que você tenha adicionado um arquivo de configuração de pacote ao seu projeto
#.swiftpm

.construir/

# CocoaPods
#
# Recomendamos não adicionar o diretório Pods ao seu .gitignore. No entanto
# você deve julgar por si mesmo, os prós e os contras são mencionados em:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Adicione esta linha se quiser evitar o check-in do código-fonte no espaço de trabalho do Xcode
# *.xcworkspace

# Cartago
#
# Adicione esta linha se quiser evitar o check-in do código-fonte das dependências do Carthage.
# Cartago/Checkouts

Cartago/Construir/

# Gerenciamento de dependência Accio
Dependências/
.accio/

#via rápida
#
# É recomendado não armazenar as capturas de tela no repositório git.
# Em vez disso, use fastlane para gerar novamente as capturas de tela sempre que necessário.
# Para obter mais informações sobre a configuração recomendada, visite:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/relatório.xml
fastlane/Preview.html
fastlane/capturas de tela/**/*.png
via rápida/test_output

# Injeção de código
#
# Após as novas ferramentas de injeção de código, há uma pasta gerada /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
